---
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
import BaseLayout from "../../layouts/BaseLayout.astro";
import EntriesOne from "../../components/entries/EntriesOne.astro";
import Newsletter from "@/components/cta/Newsletter.astro";
import LatestEntries from "@/components/entries/LatestEntries.astro";
---
<BaseLayout>
  <section>
    <div
      class="items-center px-8 pb-12 mx-auto max-w-7xl md:px-12 lg:pb-24 pt-36">
      <div class="grid grid-cols-1 lg:grid-cols-3 items-end gap-12">
        <div class="max-w-3xl lg:col-span-2">
          <p
            class="text-3xl md:text-5xl tracking-tighter font-medium text-black">
            Unraveling the world <span class="md:block text-gray-600"
              >of innovation and insights</span
            >
          </p>
          <p class="mt-4 text-lg text-gray-600">
            Stay ahead of the tech curve with the latest news, reviews, and
            resources
          </p>
        </div>
        <div class="max-w-sm">
          <form>
            <div class="flex-col flex gap-2">
              <label for="email-address" class="sr-only">Email address</label>
              <input
                id="email-address"
                name="email"
                type="email"
                autocomplete="email"
                required
                class="flex-auto w-full rounded-lg border-0 bg-black/5 px-3.5 py-2 text-black ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-white sm:text-sm sm:leading-6"
                placeholder="Enter your email"
              />
              <button
                type="submit"
                class="items-center text-sm active:bg-gray-100 active:text-gray-900/60 active:transition-none border font-medium gap-2 inline-flex justify-between outline-offset-2 px-6 py-2 transition w-full bg-white hover:bg-gray-50 text-black rounded-lg"
                >Subscribe &nbsp; <span>&rarr;</span></button
              >
            </div>
          </form>
        </div>
      </div>
      <ul class="flex flex-wrap gap-3 mt-12 w-full uppercase">
        {
          tags.map((tag) => (
            <li class="inline-flex items-center rounded-md bg-gray-50 px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-600/10">
              <a href={`/tags/${tag}`}>{tag}</a>
            </li>
          ))
        }
      </ul>
    </div>
  </section>
  <section>
    <div class="px-8 py-12 mx-auto max-w-7xl md:px-12">
      <ul class="grid grid-cols-1 sm:grid-cols-2 gap-x-3 gap-y-24 lg:gap-x-6">
        {
          allPosts
            .slice()
            .map((post) => (
              <EntriesOne
                url={"/posts/" + post.slug}
                title={post.data.title}
                description={post.data.description}
                alt={post.data.title}
                pubDate={post.data.pubDate.toString().slice(0, 10)}
                author={post.data.author}
                image={post.data.image.url}
              />
            ))
        }
      </ul>
    </div>
  </section>
  <Newsletter />
  <section>
    <div class="items-center px-8 py-12 mx-auto max-w-7xl md:px-12 lg:py-24">
      <div class="border-b border-gray-200 pb-5">
        <h3 class="text-base font-semibold text-black">From our blog</h3>
      </div>
      <ul
        class="grid md:grid-cols-2 lg:grid-cols-2 mt-12 gap-8 gap-y-12 lg:gap-y-24">
        {
          allPosts
            .slice(0, 2)
            .map((post) => (
              <LatestEntries
                url={"/posts/" + post.slug}
                title={post.data.title}
                description={post.data.description}
                alt={post.data.title}
                pubDate={post.data.pubDate.toString().slice(0, 10)}
                author={post.data.author}
                image={post.data.image.url}
              />
            ))
        }
      </ul>
    </div>
  </section>
</BaseLayout>
